body {
    font-family: courier;
    padding: 0;
    margin: 0;
}

.nav {
    box-shadow: 0 2px 8px #f0f1f2;
}

.nav .logo {
    padding: 8px;
    float: left;
}

.nav .logo img {
    height: 44px;
    width: 44px;
    border-radius: 44px;
}

.nav ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.nav li {
    display:inline;
}

.nav li a {
    text-align: center;
    padding: 0 20px;
    height: 64px;
    text-decoration: none;
}
